.basket {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
}

.save_btn {
  margin: 0.2rem;
}

.basket_item_title {
  font-size: 1rem;
  text-wrap: balance;

  .text {
    white-space: normal;
  }
}

.basket_item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .price {
    margin-right: 0.5em;
    font-size: 1rem;
  }
}
