.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;

  .control {
    --padding-start: 0;
    --padding-end: 0;
    width: 2.8em;
    height: 2.8em;
    margin: 0;
  }

  .count {
    --padding-start: 0.1em;
    --padding-end: 0.1px;
    --color: var(--ion-color-step-600, #444);
    min-width: 1.5rem;
    margin: 0 0.8em;
    font-size: 0.9rem;
  }

  &.vertical {
    flex-direction: column;

    .count {
      margin: 0.4em 0;
    }
  }
}
