.group {
  background: var(--ion-item-background, var(--ion-background-color, #fff));

  p {
    margin: 0;
    padding: 0.6em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

:global(.ios) {
  .group p {
    padding: 1em 1em 0.6em;
  }
}
